span.dirBtn{
	position: fixed;
	width: 14%;
	height: 16%;

	background-image: url(../img/DirKey.png);
	background-repeat-y:no-repeat;
	background-repeat-x:no-repeat;
	background-size:100% 100%;
	border-style: none;
}
span.dirBtnUp{
	bottom: 25%;
	left: 10%;
}
span.dirBtnDown{
	bottom: 5%;
	left: 10%;
	transform: rotate(180deg);
}

span.dirBtnLeft{
	bottom: 12%;
	right: 20%;
	transform: rotate(-90deg);
}
span.dirBtnRight{
	bottom: 12%;
	right: 10%;
	transform: rotate(90deg);
}
span.dirBtnPressed{
	background-image: url(../img/DirKeyPressed.png);
}
span.fullScreenBtn{
	position: fixed;
	left: 10px;
	top: 10px;
	width: 8%;
	height: 8%;
	padding: 0;
	margin: 0;
	
	background-repeat-y:no-repeat;
	background-repeat-x:no-repeat;
	background-repeat:no-repeat;
	background-size:contain;
	background-image: url(../img/FullScreen.png);
}
span.cancelfullScreenBtn{

	background-image: url(../img/CancelFullScreen.png);
}
.fullScreen{
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
}
img.back{
	position:fixed;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	background-repeat-y:no-repeat;
	background-repeat-x:no-repeat;
	background-size: auto;
}
